.contact {
    box-shadow: 0px 5.33px 80px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    position: relative;
    
}

.contact__content {
    place-items: center;
    padding: 2em;
}

.contact__container {
    display: flex;
    gap: 20px;
    
}

.network a{
    color: var(--first-color);
    font-size: var(--large-font-size);
}

.footer {
    text-align: center;
}